<%- include('./Includes/head.ejs') %>
</head>
<body>
    <%- include('./Includes/navigation.ejs')%>
    <main>
        <h1>Error 404</h1>
        <h2>Page not found</h2>
    </main>
<%- include('./Includes/end.ejs')%>